.a{
	height: 250px;
	/*width: 250px;*/
	/*padding:10px 10px 10px 10px;*/
    margin:0px 0px 0px 0px;
    text-align: left;
    background-color: yellow;
}

.b{
	height: 250px;
	/*width: 250px;*/
    padding:10px 10px 10px 10px;
    margin:0px 0px 0px 0px;
    text-align: left;
    background-color: red;
}

.c{
	height: 250px;
	/*width: 250px;*/
    padding:10px 10px 10px 10px;
    margin:0px 0px 0px 0px;
    text-align: left;
    background-color: yellow;
}